@import '~bootstrap/scss/bootstrap';

$color-blue-heading: #008;
$color-grey-text: #888;

@media (min-width: 1200px) {
  .container {
    max-width: 960px;
  }
}

.container {
  >div {
    margin-top: 2rem;
  }

  font-size: 0.7em;
}

h1 {
  color: $color-blue-heading;
  font-size: 2rem;
}

h2 {
  color: $color-blue-heading;
  font-size: 1.5em;
}

h3 {
  font-size: 1.5em;
}

img.logo {
  max-width: 38px;
}

.subheading {
  font-style: italic;
  font-weight: bold;
}

.subheading-temporal {
  color: $color-grey-text;
  font-size: 0.8em;
}

div.record {
  margin-bottom: 2rem;

  .align-items-center {
    .col-1 {
      max-width: 6.5%;
    }

    h3 {
      margin-bottom: 0;
    }
  }
}
